.ms-rtestate-field h1{
font-family: Calibri;
font-size: 20pt;
text-transform: uppercase;
color: #75CBC2;
}

.ms-rtestate-field h2{
font-family: Calibri light;
font-size: 18pt;
color: #E6632D;
}

.ms-rtestate-field h3{
font-family: Calibri light;
font-size: 16pt;
color: #414143;
}

.ms-rteStyle-Quote {
font-family: Calibri;
font-size: 12pt;
color: #75CBC2;
font-weight: italic;
}



.ms-rteStyle-Normal {
font-family: Calibri;
font-size: 12pt;
color: #414143;
}

