body{
background-color:pink;
}

h1,h2,h3{
color:red;
font-family: times new roman;
}

h1{
font-size:26.6px;
}

h2{
font-size:22.6px;
}


h3{
font-size:18.6px;
}

p.para1{
border-style:dotted;
}

p.para2{
border-style:dashed;
}

p.para3{
border-style:solid;
}